# Копия — .env (секреты НЕ коммитить!)
# Тот же бот, что шлёт APK, может быть и пультом:
BOT_TOKEN=8816018038:AAGv...
# Ограничить одним чатом (опц.): 663450648
ROVER_CHAT_ID=663450648
# Брокер HiveMQ Cloud (этот ровер)
BROKER_URL=wss://ed44fbaa0a7a41afaf940381fb18cd2a.s1.eu.hivemq.cloud:8884/mqtt
MQTT_USER=roverCred
MQTT_PASS=mqttHIVE!2#
# ID ровера (префикс топиков rover/<id>/...)
ROVER_ID=demo