# Копия — .env (секреты НЕ коммитить!)
# Тот же бот, что шлёт APK, может быть и пультом:
BOT_TOKEN=8816018038:AAGv...
# Ограничить одним чатом (опц.): 663450648
ROVER_CHAT_ID=663450648
# Брокер (по умолч. HiveMQ public WS)
BROKER_URL=wss://broker.hivemq.com:8884/mqtt
# ID ровера (префикс топиков rover/<id>/...)
ROVER_ID=demo